<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Подробнее посмотреть торт: {{ cake.name }}</h1>
  <a href="{% url 'cakes_by_category' cake.category.slug %}">{{ cake.category }}</a>
  <p>Slug(ссылка): {{ cake.slug }}</p>
  <p>Описание: {{ cake.description }}</p>
  <p>Цена: {{ cake.price }} KZT</p>
  <p>Вес: {{ cake.weight }} г</p>
  <img src="{{ cake.image.url }}" alt="" style="width: 500px; height: 500px;">
  {% if cake.is_available %}
  <p>В наличии</p>
  {% endif %}
  <p>Дата создания: {{ cake.created_at }}</p>
  <a href="{% url 'cart_add' cake.id %}">Добавить в корзину</a>

  <section class="reviews-section">
        <h2>Отзывы</h2>

        {% if reviews %}
            <div class="reviews-list">
                {% for review in reviews %}
                    <div class="review-card">
                        <div class="review-header">
                            <strong>{{ review.name }}</strong>
                            <span>Оценка: {{ review.rating }}/5</span>
                        </div>

                        <p class="review-text">{{ review.text }}</p>
                        <small>{{ review.created_at|date:"d.m.Y H:i" }}</small>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Пока отзывов нет. Будьте первым, кто оставит отзыв.</p>
        {% endif %}
    </section>
</body>
</html>