{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="catalog container">
      <h2>Торты по категории: {{ cake.category }}</h2>
      <div class="cakes">
        {% for cake in cakes %}
        <div class="cake-card">
          <img src="{{ cake.image.url }}" alt="{{ cake.name }}">
          <h3>{{ cake.name }}</h3>
          <p class="price">{{ cake.price }} ₸</p>
          <a href="{% url 'cake_detail' cake.slug %}" class="btn">Подробнее</a>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
  {% endblock %}