{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>

    <section class="product container">

      <div class="product-details">

        <img src="{{ cake.image.url }}" alt="{{ cake.name }}" class="chocolate-cake">

        <div class="product-info">

          <h2>{{ cake.name }}</h2>

          <!-- Категория -->
          <p class="product-category">Категория: {{ cake.category }}</p>

          <!-- Рейтинг -->
          <div class="product-rating">
            <img src="{% static 'images/yellow star.svg' %}" alt="rating" class="rating">
            <img src="{% static 'images/yellow star.svg' %}" alt="rating" class="rating">
            <img src="{% static 'images/yellow star.svg' %}" alt="rating" class="rating">
            <img src="{% static 'images/yellow star.svg' %}" alt="rating" class="rating">
            <img src="{% static 'images/yellow star.svg' %}" alt="rating" class="rating">
          </div>

          <p class="price">{{ cake.price }} ₸</p>

          <p>
            {{ cake.description }}
          </p>

          <a href="{% url 'cart_add' cake.id %}" class="btn">В корзину</a>

        </div>

      </div>

      <!-- Отзывы -->
      <div class="reviews">
        <h2 style="text-align: center;">Отзывы</h2>

        {% if reviews %}
          {% for review in reviews %}
          <div class="review-card">

            <div class="review-header">
              <h3 class="review-name">{{ review.name }}</h3>
              <span class="review-date">{{ review.created_at|date:"d.m.Y H:i" }}</span>
            </div>

            <div class="review-comment">

              <div class="review-rate">
                {% for i in "12345"|slice:":review.rating" %}
                <img src="{% static 'images/yellow star.svg' %}" alt="rating" class="rating">
                {% endfor %}
              </div>

              <p>
                {{ review.text }}
              </p>

            </div>

          </div>
          {% endfor %}

        {% else %}
            <p>Пока отзывов нет. Будьте первым, кто оставит отзыв.</p>
        {% endif %}

      </div>

    </section>

  </main>
  {% endblock %}