{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="auth-section">

<div class="auth-card">

<h2>Авторизация</h2>

<form method="post">
{% csrf_token %}

<label for="{{ form.username.id_for_label }}">Имя пользователя</label>
{{ form.username }}
{% if form.username.errors %}
    <div class="form-error">
        {{ form.username.errors }}
    </div>
{% endif %}

<label for="{{ form.password.id_for_label }}">Пароль</label>
{{ form.password }}
{% if form.password.errors %}
    <div class="form-error">
        {{ form.password.errors }}
    </div>
{% endif %}

{% if form.non_field_errors %}
    <div class="form-error form-error-main">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<button type="submit">Войти</button>

</form>

<p>Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>

</div>

</section>
{% endblock %}