{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RaufCake</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    </head>
    
    <body>
    
        <!-- Header -->
        <header class="header">
            <div class="container header-container">
                <div class="logo">
                    <img src="{% static './images/logo.png' %}" alt="logo">
                    RaufCake
                </div>
                <nav class="nav">
                    <a href="{% url 'home' %}">Главная</a>
                    <a href="{% url 'cake_list' %}">Каталог</a>
                    <a href="{% url 'cart_detail' %}">Корзина</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                    <a href="{% url 'about' %}">Наша команда</a>
                </nav>
                <div class="auth-buttons">
                    <a class="login" href="{% url 'login' %}">Login</a>
                    <a class="register" href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </header>
    
        {% block content %}
        {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>© 2026 RaufCake. Все права защищены.</p>
        </div>
    </footer>

</body>

</html>